<div class="slider fullwidthbanner-container roundedcorners">
				<!--
				# 	Navigation Styles:
					
				# 		data-navigationStyle="" theme default navigation
						
				# 		data-navigationStyle="preview1"
				# 		data-navigationStyle="preview2"
				# 		data-navigationStyle="preview3"
				# 		data-navigationStyle="preview4"
						
				# 	Bottom Shadows
				# 		data-shadow="1"
				# 		data-shadow="2"
				# 		data-shadow="3"
						
				# 	Slider Height (do not use on fullscreen mode)
				# 		data-height="300"
				# 		data-height="350"
				# 		data-height="400"
				# 		data-height="450"
				# 		data-height="500"
				# 		data-height="550"
				# 		data-height="600"
				# 		data-height="650"
				# 		data-height="700"
				# 		data-height="750"
				# 		data-height="800"
				-->
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Slogan">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_162479912.jpeg" , alt: "cover image" , data: {bgposition: "center top" , bgfit: "cover" , bgrepeat: "no-repeat" }) %>
							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="700"
								data-y="150" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:rgb(3, 78, 217); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									At Rocket Elevators
							</div>

							<div class="tp-caption content_text_ skewfromleft tp-resizeme"
								data-x="850"
								data-y="230" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:30px; color:dark grey; font-weight:300; text-shadow:none;">
									We believe in lifting you
							</div>
							<div class="tp-caption content_text_ skewfromleft tp-resizeme"
							data-x="840"
							data-y="268" 
							data-speed="500"
							data-start="2000"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-endspeed="600"

								style="z-index: 3; font-size:30px; color:dark grey; font-weight:300; text-shadow:none;">
									 as high as you can dream.
						</div>


							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="750"
								data-y="380" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-blue btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
							data-x="1080"
							data-y="380" 
							data-speed="300"
							data-start="2500"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-endspeed="300"

							style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">


								<a class="btn btn-dark btn-lg" href="/quotes">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>

						</div>
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential Buildings">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_124493370.jpeg" , alt: "cover image" , data: {bgposition: "center top" , bgfit: "cover" , bgrepeat: "no-repeat" }) %>								
							<!-- dark overlay [0 to 9 opacity] -->
							<div class="overlay dark-4">            </div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="280"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:rgb(3, 78, 217); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Residential Buildings <br />
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="450"
								data-y="230" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:40px; color:dark grey; font-weight:bold; text-shadow:none;">
									Getting you home <br />
									
							</div>


							<div class="tp-caption sfb tp-resizeme"
								data-x="515"
								data-y="375" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">

									<a class="btn btn-blue btn-lg" href="residential" target="_self">Residential Services &nbsp; <i class="fa fa-angle-right"></i></a>

							</div>
						</li>
						 <!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Commercial Buildings">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_179073967.jpeg" , alt: "cover image" , data: {bgposition: "center top" , bgfit: "cover" , bgrepeat: "no-repeat" }) %>
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="280"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:rgb(3, 78, 217); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Commercial Buildings <br />
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="410"
								data-y="230" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:40px; color:dark grey; font-weight:bold; text-shadow:none;">
									Getting you to work <br />
									
							</div>


							<div class="tp-caption sfb tp-resizeme"
								data-x="515"
								data-y="375" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">

									<a class="btn btn-blue btn-lg" href="commercial" target="_self">Commercial Services &nbsp; <i class="fa fa-angle-right"></i></a>

							</div>
						</li>
					</ul>

				</div>
			</div>
			 <!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->





			
			 <!-- Services -->
			<section id="services">
				<div class="container" style: "height">

					<div class="row">
						<div class="col-sm-4">
							<div class="slider-image-container">
								<a class="image-hover lightbox" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" data-plugin-options='{"type":"iframe"}'>
									<span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
										<i class="fa fa-youtube-square"><!-- video icon --></i>
									</span>
									<%=image_tag("AdobeStock_53477661.jpeg" , width: "360x270" ) %> 
			
								</a>
							</div>

							<h3 class="mt-10">Award Winning</h3>
							<p>Rocket Elevators is an award winning company, with awards from the prestigous Ascenseurs Glorieux.</p>
							<a href="#" class="btn btn-default">Awards</a>
						</div>

						<div class="col-sm-4">
							<a class="image-hover lightbox" href="https://www.youtube.com/watch?v=VBlFHuCzPgY" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
									<i class="fa fa-youtube-square"><!-- video icon --></i>
								</span>
								<%=image_tag("AdobeStock_124493370_RS.jpg" , width: "360" , height: "270" ) %> 
							</a>
							<h3 class="mt-10">Residential Buildings</h3>
							<p>From Apartments and Condos to having your own personal Elevator in your home. Rocket Elevators can take care of you.</p>

							<a href="residential" class="btn btn-default">Learn More</a>

						</div>

						<div class="col-sm-4">
							<%=image_tag("AdobeStock_179073967_RS.jpg" , width: "360" , height: "270" ) %>
							<h3 class="mt-10">Commercial Buildings</h3>
							<p>Business center or skyscraper, Rocket Elevators will keep your employees running on time.</p>

							<a href="commercial" class="btn btn-default">Learn More</a>

						</div>

					</div>
				
				</div>
			</section>
			 <!-- /Services -->

			


			 <!-- Parallax -->
			<section class="parallax parallax-1" style = "background-image: url(<%= image_path 'AdobeStock_33975620.jpeg' %>)">
		
				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Going Up & Down Since 1976</h2>

						<a class="btn btn-dark btn-lg" href="/quotes">REQUEST A QUOTE <i class="fa fa-angle-right"></i></a> 

						&nbsp; OR &nbsp; 
						<a class="btn btn-primary btn-lg" href="/contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			 <!-- /Parallax -->




			 <!-- PORTFOLIO -->
			<section id="work">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Portfolio</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
							<li data-filter="corporate" class="filter"><a href="#">Commercial</a></li>
							<li data-filter="projects" class="filter"><a href="#">Projects</a></li>
							<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">
						<div class="row mix-grid">
							<div class="col-md-3 col-sm-3 mix corporate">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="Carnival_2.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>	
											</span>
										</span>
										<%=image_tag("Carnival_2.jpg" , width: "293" , height: "195" , class: "img-fluid" , alt: "")%>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix corporate">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="elevators-in-the-empty-corridor-of-a-corporate-business-photo.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%=image_tag("elevators-in-the-empty-corridor-of-a-corporate-business-photo.jpg" , width: "293" , height: "195" , class: "img-fluid" , alt: "")%>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix corporate">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="eCatalog-upgrades.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%=image_tag("eCatalog-upgrades.jpg" , width: "293" , height: "195" , class: "img-fluid" , alt: "") %>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix residential">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="Symmetry-with-glass-door-and-wood-interior.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("Symmetry-with-glass-door-and-wood-interior.jpg" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="20180730154014_55259.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("20180730154014_55259.jpg" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix residential">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="homeelevator.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("homeelevator.jpg" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix corporate">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="goldele.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("goldele.jpg" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>
								</div> 
							</div>
							<div class="col-md-3 col-sm-3 mix awards">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="Wildeck-Ellies-Winner.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("Wildeck-Ellies-Winner.jpg" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="designaward.jfif" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("designaward.jfif" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="misslesiloproject.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("misslesiloprojectRS.jpg" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 mix corporate">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="lobbyele.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("lobbyeleRS.png" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>
								</div>
							</div>					
							<div class="col-md-3 col-sm-3 mix awards">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												 <!-- lightbox -->
												<a class="ico-rounded lightbox" href="Winner.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                    					<%= image_tag("Winner.png" , width: "293" , height: "195", class: "img-fluid" , alt: "") %>
									</figure>


								</div>

							</div>

							


						</div>


				</div>
			</section>
			 <!-- /PORTFOLIO -->




			 <!-- Testimonials -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
							<%= image_tag("coach_timothy.jpg" , width:"800", height:"600", class: "rounded" , alt: "") %>
							</figure>
							<div class="testimonial-content p-0">
								<cite>
									Roger Murtaugh
									<span>CEO</span>
									<span>Rocket Elevators</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
                    			<%= image_tag("Myphoto.jpg" , width:"800", height:"600", class: "rounded" , alt: "") %>
							</figure>
							<div class="testimonial-content p-0">
								<cite>
									Martin Riggs
									<span>Employee of the Month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			 <!-- /Testimonials -->





			 <!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					 <!-- 
					# 	controlls-over		= navigation buttons over the image 
					# 	buttons-autohide 	= navigation buttons visible on mouse hover only
						
					# 	data-plugin-options:
					# 		"singleItem": true
					# 		"autoPlay": true (or ms. eg: 4000)
					# 		"navigation": true
					# 		"pagination": true
					# 		"items": "4"

					# 	owl-carousel item paddings
					# 		.owl-padding-0
					# 		.owl-padding-3
					# 		.owl-padding-6
					# 		.owl-padding-10
					# 		.owl-padding-15
					# 		.owl-padding-20
					 -->
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://en.wikipedia.org/wiki/Lunar_space_elevator">
                    			<%= image_tag("MoonElevator.jfif" , width:"280px", height:"210px", class: "img-fluid" , alt: "") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/MoonElevator.jfif" alt="" style="height: 210px; width: 280px"> %>
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">ELEVATOR TO THE MOON???</a></h4>
							<p class="text-left">Ready or not, this might come sooner than you think</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									Sept 4th 20202
								</li>

							</ul>
						</div>
						<div class="img-hover">
							<a href="https://kesq.com/news/2022/09/02/worlds-tallest-outdoor-elevator-offers-views-over-avatar-landscape/">
                    			<%= image_tag("tallELEVATOR.jpg" , width:"280px", height:"210px", class: "img-fluid" , alt: "") %>
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">Giant Elevator in the Middle of No Where</a></h4>
							<p class="text-left">Why was it built? Who built it? We may never know</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									February 29th 2016
								</li>

							</ul>
						</div>
						<div class="img-hover">
							<a href="https://en.wikipedia.org/wiki/Elevator">
                    			<%= image_tag("Fall-Down-Stairs-267x300.jpg" , width:"280px", height:"210px", class: "img-fluid" , alt: "") %>
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">Why you shouldn't take stairs</a></h4>
							<p class="text-left">Taking a ride in an elevator may be extending your life. Here's why?</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 5th 2019
								</li>

							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.cinemablend.com/movies/anna-kendrick-got-stuck-in-an-elevator-but-has-a-great-sense-of-humor-about-the-fashion-emergency-that-ensued">
                    			<%= image_tag("stuck.jfif" , width:"280px", height:"210px", class: "img-fluid" , alt: "") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/stuck.jfif" alt="" style="height: 210px; width: 280px"> %>
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">Stuck in an Elevator</a></h4>
							<p class="text-left">Have you ever been stuck in an elevator? If you have you are one of the lucky ones.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									November 11th 2021
								</li>

							</ul>
						</div>
						<div class="img-hover">
							<a href="https://en.wikipedia.org/wiki/Elevator">
                    			<%= image_tag("SantaElevator.jpg" , width:"280px", height:"210px", class: "img-fluid" , alt: "") %>
							</a>
							<h4 class="text-left mt-20"><a href="blog-single-default.html">Santa using an Elevator instead of chimney</a></h4>
							<p class="text-left">It's not a far fetched as it seems. Elevators are much more efficient than chimneys, and Santa doesn't have to worry about getting dirty</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									December 25th 2024
								</li>

							</ul>
						</div>
						<div class="img-hover">
							<a href="https://en.wikipedia.org/wiki/Elevator">
                    			<%= image_tag("PrettyELe.jpg" , width:"280px", height:"210px", class: "img-fluid" , alt: "") %>
							</a>
							<h4 class="text-left mt-20"><a href="blog-single-default.html">Looking Back at Historical Elevators</a></h4>
							<p class="text-left">With the 2000s behind us, we look at some hisortical elevator masterpieces</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									January 1st 2010
								</li>
							</ul>
						</div>

					</div>

				</div>
			</section>
			 <!-- /News -->


			 <!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">			
								<%= image_tag("logo1.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo2.png" , class: "img-fluid" , alt: "client" ,width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo2.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo3.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo3.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo4.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo4.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								
								<%= image_tag("logo5.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo5.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo6.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo6.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo7.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo7.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo8.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo8.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo9.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo9.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo10.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo10.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo11.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo11.png" alt="client" /> %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag("logo12.png" , class: "img-fluid" , alt: "client" , width:"250", height:"375") %>
								<%# <img class="img-fluid" src="Rocket_Elevator_Assets/logo12.png" alt="client" /> %>
							</a>
						</li>
					</ul>

				</div>
			</section>
			 <!-- /Client/s -->




			 <!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>

						<hr />
					</header>


					<div class="row">

						 <!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							
							 <!--
							# 	MESSAGES
								
							# 		How it works?
							# 		The form data is posted to php/contact.php where the fields are verified!
							# 		php.contact.php will redirect back here and will add a hash to the end of the URL:
							# 			#alert_success 		= email sent
							# 			#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
							# 			#alert_mandatory	= email not sent - required fields empty
							# 			Hashes are handled by assets/js/contact.js

							# 		Form data: required to be an array. Example:
							# 			contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
							# 			Also, add `required` to input fields if is a mandatory field. 
							# 			Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

							# 		PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
							# 					 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

							# 		WARNING! Do not change the `email` and `name`!
							# 					contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							# 					contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							 -->

							 <!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div>


							 <!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div>


							 <!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div>


							<%= render "./leads/new"%>
							

						</div>
						 <!-- /FORM -->


						 <!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3530.196180076207!2d-82.64112704871648!3d27.772928782680264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2e182e06d5729%3A0x21f08e744abb5cb3!2s136%204th%20St%20N%2C%20St.%20Petersburg%2C%20FL%2033701!5e0!3m2!1sen!2sus!4v1663859195791!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							 <!-- <div id="map2" class="h-400 grayscale"></div> -->

							# <!-- 
							# Available heights
							# 	h-100
							# 	h-150
							# 	h-200
							# 	h-250
							# 	h-300
							# 	h-350
							# 	h-400
							# 	h-450
							# 	h-500
							# 	h-550
							# 	h-600
							 -->
							
							<hr />
							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 136 4th St N, Suite 201 <br>St Petersburg, FL 33701</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1-800-887-2497">1-800-887-2497</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="customerservice@rocketelevators.com">customerservice@rocketelevators.com</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->
			
