
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Figaro.env.google_maps_api_key%>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap()
    });
  </script>
<% end %>
<div class="map-container">
<div 
    id="breweries" style="display:none">
    <ol>
      <% Address.all.each do |address| %>
      <% b = address.building%>      
         <% no_of_column = 0 %>
         <% no_of_elevator = 0 %>
         <% for c in b.battery_ids do %>
            <% no_of_column += Column.where(battery_id: c).count%>
            <% columns = Column.where(battery_id:c)%>
            <% for e in columns do %>
              <% no_of_elevator += Elevator.where(Column_id: e).count %>
              <% end %>
          <%end %>
          <% no_of_floor = Quote.find(address.id).number_of_floors%>
          <li
          class="address-list-item"
          data-latitude=<%= address.latitude %>
          data-longitude=<%= address.longitude %>
          data-location1=<%= address.number_and_street%>
          data-location2=<%= address.city%>
          data-location3=<%= address.postal_code%>
          data-location4=<%= address.country%>
          data-client=<%= address.customerInfo[0]%>
          data-tec=<%= address.customerInfo[1]%>
          data-batteries=<%=b.battery_ids.count%>
          data-columns=<%=no_of_column%>
          data-elevators=<%=no_of_elevator%>
          data-buildingfloors=<%=no_of_floor%>

        >
        </li>
        <% end %>
     
    </ol>
</div>
<%# <div id="map" ></div> %>
<div id="map" class="z-depth-1-half map-container" style="width: 100vw">
  <iframe  frameborder="0" src='https://maps.googleapis.com/maps/api/js?key='+Figaro.env.google_maps_api_key,defer: true
    style="border:0" allowfullscreen></iframe>
</div>

</div>

<%= javascript_tag 'map' %>
<%# <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Figaro.env.google_maps_api_key,defer: true%> %>
<script>
function initMap() {
  var lat=35.1774;
  var lng=-97.4118;

  var myCoords = new google.maps.LatLng(lat, lng);
  var mapOptions = {
      center: myCoords,
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.ROADMAP

  };
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  let locations = [];
  document.querySelectorAll("li.address-list-item").forEach(address => {
          let position = [
              
              address.getAttribute("data-latitude"),
              address.getAttribute("data-longitude"),
              address.getAttribute("data-location1"),
              address.getAttribute("data-location2"),
              address.getAttribute("data-location3"),
              address.getAttribute("data-location4"),
              // address.getAttribute("data-location5"),
              address.getAttribute("data-client"),
              address.getAttribute("data-tec"),
              address.getAttribute("data-batteries"),
              address.getAttribute("data-columns"),
              address.getAttribute("data-elevators"),
              address.getAttribute("data-buildingfloors")
              
          ]
          locations.push(position)
  });
  

  var infowindow =  new google.maps.InfoWindow({});
  var marker, count;
  for (count = 0; count < locations.length; count++) {
      marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[count][0], locations[count][1]),
          map: map,
          title: locations[count][2] + locations[count][3]+ locations[count][4]+locations[count][5],
      
      });
  google.maps.event.addListener(marker, 'click', (function (marker, count) {
        return function () {
           infowindow.setContent("<p>" +"Building Location: " +locations[count][2]+", "+
             locations[count][3]+", "+ locations[count][4]+", "+locations[count][5]+
             "<br /> Company Name: "+locations[count][6]+
             "<br /> Full name of the tech: "+locations[count][7]+
             "<br /> No.of Batteries: " +locations[count][8] +
              "<br /> No.of Columns: " + locations[count][9]+
               "<br /> No.of Elevators: " + locations[count][10] +
                "<br /> No.of Floors: " + locations[count][11]+"</p>");
            infowindow.open(map, marker);
          
        }
      })(marker, count));
    }

}
</script>
